@page "/tokendisplay/{AccessToken}"
@model TokenDisplayModel

<h4>Access Token: </h4>

<div class="container-fluid">
    <div class="row">
        <div class="w-50">
            <textarea class="form-control" readonly style="height: 100px;">@Model.AccessToken</textarea>
        </div>
    </div>
</div>

<h4>Car Components:</h4>

<h4>Car Components:</h4>
@if (Model.CarComponents != null && Model.CarComponents.Embedded?.Data?.Components != null)
{
    <div class="container mt-3">
        @foreach (var component in Model.CarComponents.Embedded.Data.Components)
        {
            <div class="card mb-3">
                <div class="card-header">
                    @component.Title
                </div>
                <div class="card-body">
                    <h5 class="card-title">Component ID: @component.Id</h5>
                    @if (component.HasComponents)
                    {
                        <p class="card-text">This component has subcomponents.</p>
                    }
                    else
                    {
                        <p class="card-text">This component does not have subcomponents.</p>
                    }

                    @if (component.Embedded?.InformationTypes != null)
                    {
                        <ul>
                            @foreach (var infoType in component.Embedded.InformationTypes)
                            {
                                <li>@infoType.Title (ID: @infoType.Id)</li>
                            }
                        </ul>
                    }
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No car components data available.</p>
}
